<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Legg til DPS Nivå 2 Underavdeling</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Legg til DPS Nivå 2 Underavdeling</h1>
        <form action="{{ url_for('add_dps_level_2_route') }}" method="POST" class="mt-4">
            <div class="form-group">
                <label for="name">Navn:</label>
                <input type="text" class="form-control" name="name" id="name" required>
            </div>

            <div class="form-group">
                <label for="department_id">Tilhørende Avdeling:</label>
                <select class="form-control" name="department_id" id="department_id" required>
                    {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="about">Om Underavdelingen:</label>
                <textarea class="form-control" name="about" id="about"></textarea>
            </div>

            <div class="form-group">
                <label for="postal_address">Postadresse:</label>
                <input type="text" class="form-control" name="postal_address" id="postal_address" required>
            </div>

            <div class="form-group">
                <label for="phone_number">Telefonnummer:</label>
                <input type="number" class="form-control" name="phone_number" id="phone_number">
            </div>

            <div class="form-group">
                <label for="visitor_address">Besøksadresse:</label>
                <input type="text" class="form-control" name="visitor_address" id="visitor_address" required>
            </div>


            <div class="form-group">
                <label for="general_info">Generell Informasjon:</label>
                <textarea class="form-control" name="general_info" id="general_info"></textarea>
            </div>

            <div class="form-group">
                <label for="practical_info">Praktisk Informasjon:</label>
                <textarea class="form-control" name="practical_info" id="practical_info"></textarea>
            </div>

            <div class="form-group">
                <label for="treatment_description">Behandlingsbeskrivelse:</label>
                <textarea class="form-control" name="treatment_description" id="treatment_description"></textarea>
            </div>




            <div class="form-group">
                <label for="methods">Metoder:</label>
                <select class="form-control" name="methods" id="methods" multiple>
                    {% for method in methods %}
                        <option value="{{ method.id }}">{{ method.description }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="new_method">Ny Metode:</label>
                <input type="text" class="form-control" name="new_methods" id="new_methods">
            </div>

            <div class="form-group">
                <label for="problem_areas">Problemområder:</label>
                <select class="form-control" name="problem_areas" id="problem_areas" multiple>
                    {% for problem_area in problem_areas %}
                        <option value="{{ problem_area.id }}">{{ problem_area.description }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="new_problem_areas">Nytt Problemområde:</label>
                <input type="text" class="form-control" name="new_problem_areas" id="new_problem_areas">
            </div>

            <div class="form-group">
                <label for="email">E-post:</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>

            <button type="submit" class="btn btn-primary">Legg til DPS Nivå 2 Underavdeling</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
