
<button onclick="window.location.href='/scrape_avtalespesialister'">Scrape avtalespesialister</button>
<button onclick="window.location.href='/scrape_privatpraktiserende'">Scrape Privatpraktiserende Psykologer</button>
<button onclick="window.location.href='scrape_legelisten'">Skrape Legelisten</button>

<script>
document.getElementById('scrape-avtalespesialister').addEventListener('click', function() {
    fetch('/scrape_avtalespesialister')
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                // Behandle de skrapede navnene som returneres fra serveren
                console.log(data.names);
            } else {
                // Håndter feil
                console.error('Scraping feilet');
            }
        });
});

        document.getElementById('scrape-legelisten').addEventListener('click', function() {
            fetch('/scrape_legelisten')
                .then(response => response.json())
                .then(data => alert('Skraping fullført!'));
        });
</script>
